In [1]:
import pandas as pd
import json
import os
import csv
import datetime

In [6]:
# Load our csv into Python. 

in_videos_csv = os.path.join('youtube-new/INvideos.csv')

# Create some empty lists to populate with data

video_id = []
trending_date = []
title = []
channel_title = []
category_id = []
publish_time = []
tags = []
views = []
like = []
dislikes = []
comment_count = []
thumbnail_link = []
comments_disabled = []
ratings_disabled = []
video_error_or_removed = []
description = []

# Parse through the csv to populate the lists. 

with open(in_videos_csv, 'r', encoding='ANSI') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    header = next(csvreader)
    
    for row in csvreader:
        try:
            video_id.append(row[0])
            trending_date.append(row[1])
            title.append(row[2])
            channel_title.append(row[3])
            category_id.append(row[4])
            publish_time.append(row[5])
            tags.append(row[6])
            views.append(row[7])
            like.append(row[8])
            dislikes.append(row[9])
            comment_count.append(row[10])
            thumbnail_link.append(row[11])
            comments_disabled.append(row[12])
            ratings_disabled.append(row[13])
            video_error_or_removed.append(row[14])
            description.append(row[15])
            
        except UnicodeDecodeError:
            print("'utf-8' codec can't decode bytes in position 7838-7839: invalid continuation byte")
            
# Cast date column to a date data type
            
date_data = []

for d in trending_date:
    try:
        date_conv = datetime.datetime.strptime(d, '%y.%d.%m').date()
        date_data.append(date_conv)
    except ValueError:
        date_data.append("Not found")

trending_date = date_data

# Create the data frame with the desired columns. 

in_videos_df = pd.DataFrame({
    "video_id" : video_id,
    "trending_date" : trending_date, 
    "title" : title,
    "channel_title" : channel_title,
    "category_id" : category_id,
    "publish_time" : publish_time,
    "views" : views,
    "like" : like, 
    "dislikes" : dislikes,
    "comment_count" : comment_count,
}) 


# Remove commas from title column 
in_videos_df["title"] = in_videos_df["title"].str.replace(',', '')

# Append a country identifier to the data frame
in_videos_df['country_id'] = "06"

# Export a csv to be imported into SQL
in_videos_df.to_csv('resources/in_videos_demo.csv', index=False)


in_videos_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,views,like,dislikes,comment_count,country_id
0,kzwfHumJyYc,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,1096327,33966,798,882,06
1,zUZ1z7FwLc8,2017-11-14,à¤ªà¥€à¤°à¤¿à¤¯à¤¡à¥à¤¸ à¤•à¥‡ à¤¸à¤®à¤¯ à¤ªà...,HJ NEWS,25,2017-11-13T05:43:56.000Z,590101,735,904,0,06
2,10L1hZ9qa58,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,473988,2011,243,149,06
3,N1vE8iiEg64,2017-11-14,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12T07:08:48.000Z,1242680,70353,1624,2684,06
4,kJzGH0PVQHQ,2017-11-14,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13T01:14:16.000Z,464015,492,293,66,06

In [3]:
# Load our csv into Python
mx_videos_csv = "youtube-new/MXvideos.csv"


# Use Pandas to read the CSV
mx_videos_df = pd.read_csv(mx_videos_csv,  encoding='ANSI')


# Still need to convert the dates or they won't go into SQL as dates. 
trending_date = mx_videos_df['trending_date']

date_data = []

for d in trending_date:
    try:
        date_conv = datetime.datetime.strptime(d, '%y.%d.%m').date()
        date_data.append(date_conv)
    except ValueError:
        date_data.append("Not found")

mx_videos_df['trending_date'] = date_data

# Drop unwanted columns
mx_videos_df = mx_videos_df.drop(columns=["tags", 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description'])

# Append country ID column to data frame
mx_videos_df['country_id'] = "07"

# Remove commas from title column
mx_videos_df["title"] = mx_videos_df["title"].str.replace(',', '')

# Export to csv to be imported into SQL
mx_videos_df.to_csv('resources/mx_videos_demo.csv', index=False)


mx_videos_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,country_id
0,SbOwzAl9ZfQ,2017-11-14,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,310130,4182,361,1836,07
1,klOV6Xh-DnI,2017-11-14,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,104972,271,174,369,07
2,6L2ZF7Qzsbk,2017-11-14,LOUIS CKAGÃ“ - EL PULSO DE LA REPÃšBLICA,El Pulso De La RepÃºblica,25,2017-11-13T17:00:02.000Z,136064,10105,266,607,07
3,hcY52MFWMDM,2017-11-14,Sismo de 6.7 sacude Costa Rica 12 Noviembre 2017,Casanare,25,2017-11-13T03:47:10.000Z,96153,378,171,208,07
4,_OXDcGPVAa4,2017-11-14,DOG HACKS | MUSAS LESSLIE LOS POLINESIOS,Musas,26,2017-11-13T19:17:48.000Z,499965,57781,681,7428,07

In [4]:
us_videos_json = open('youtube-new/US_category_id.json')
data = json.load(us_videos_json)
video_categories = data['items']

#pprint.pprint(video_categories)

etag = []
id = []
kind = []
assignable = []
channelId = []
title = []
snippet = []

for x in video_categories: 
    etag.append(x['etag'])
    id.append(x['id'])
    snippet.append(x['snippet'])
    
for s in snippet:
    title.append(s['title'])
    

categories = pd.DataFrame({"category_id" : id,
                          "category_name" : title})

categories

   category_id          category_name
0            1       Film & Animation
1            2       Autos & Vehicles
2           10                  Music
3           15         Pets & Animals
4           17                 Sports
5           18           Short Movies
6           19        Travel & Events
7           20                 Gaming
8           21          Videoblogging
9           22         People & Blogs
10          23                 Comedy
11          24          Entertainment
12          25        News & Politics
13          26          Howto & Style
14          27              Education
15          28   Science & Technology
16          29  Nonprofits & Activism
17          30                 Movies
18          31        Anime/Animation
19          32       Action/Adventure
20          33               Classics
21          34                 Comedy
22          35            Documentary
23          36                  Drama
24          37                 Family
25          38                Foreign
26          39                 Horror
27          40         Sci-Fi/Fantasy
28          41               Thriller
29          42                 Shorts
30          43                  Shows
31          44               Trailers